<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
    <div id="728750984ed0487a9180568d3bb73e5f" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_728750984ed0487a9180568d3bb73e5f = echarts.init(
            document.getElementById('728750984ed0487a9180568d3bb73e5f'), 'white', {renderer: 'canvas'});
        var option_728750984ed0487a9180568d3bb73e5f = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "name": "\u6628\u65e5\u4e2a\u4eba\u6301\u6709\u4f30\u503c",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                18,
                80
            ],
            "data": [
                {
                    "name": "\u5b98\u65b9\u5c0f\u52a9\u624b",
                    "value": 117966781.94,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(147,27,91)"
                        }
                    }
                },
                {
                    "name": "\u89d2\u843d",
                    "value": 57972472.42,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(13,99,84)"
                        }
                    }
                },
                {
                    "name": "rdhth",
                    "value": 40542122.47,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(111,54,33)"
                        }
                    }
                },
                {
                    "name": "auberg",
                    "value": 15924915.83,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(117,81,72)"
                        }
                    }
                },
                {
                    "name": "\u6797\u667a\u9e4f",
                    "value": 13853796.12,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(158,70,41)"
                        }
                    }
                },
                {
                    "name": "\u6843\u82b1\u5251\u5ba2",
                    "value": 13448973.19,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(88,132,63)"
                        }
                    }
                },
                {
                    "name": "\u5b98\u65b9\u52a9\u624b",
                    "value": 10731812.40,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(130,135,15)"
                        }
                    }
                },
                {
                    "name": "\u5c94\u8def\u53e3",
                    "value": 2915690.59,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(32,53,38)"
                        }
                    }
                },
                {
                    "name": "\u54c6\u54c6",
                    "value": 2113584.56,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(48,107,145)"
                        }
                    }
                },
                {
                    "name": "\u8bda\u65e2\u7984",
                    "value": 1610929.35,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(137,113,92)"
                        }
                    }
                },
                {
                    "name": "\u80e1\u542f\u8d85",
                    "value": 1581511.81,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(61,89,146)"
                        }
                    }
                },
                {
                    "name": "\u6d77\u87ba\u79d1",
                    "value": 1459913.93,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(160,71,101)"
                        }
                    }
                },
                {
                    "name": "\u5434\u6c34\u7f8e",
                    "value": 1337220.51,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(102,67,136)"
                        }
                    }
                },
                {
                    "name": "137***",
                    "value": 1125772.63,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(137,43,1)"
                        }
                    }
                },
                {
                    "name": "\u5357\u91d1",
                    "value": 1125259.39,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(2,91,52)"
                        }
                    }
                },
                {
                    "name": "\u5a1f\u82ac",
                    "value": 1024346.40,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(59,3,139)"
                        }
                    }
                },
                {
                    "name": "\u6797\u5efa\u6c38",
                    "value": 996472.63,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(100,74,50)"
                        }
                    }
                },
                {
                    "name": "\u536b\u5929\u4ed9",
                    "value": 981737.37,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(90,151,80)"
                        }
                    }
                },
                {
                    "name": "\u6731\u4e07\u82f1",
                    "value": 967905.07,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(107,42,20)"
                        }
                    }
                },
                {
                    "name": "\u6d2a\u7426\u745b",
                    "value": 959655.36,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(117,145,68)"
                        }
                    }
                },
                {
                    "name": "\u848b\u5c0f\u9f99",
                    "value": 955938.93,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(117,103,15)"
                        }
                    }
                },
                {
                    "name": "\u6c88\u56fd\u82ac",
                    "value": 941200.98,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(13,49,80)"
                        }
                    }
                },
                {
                    "name": "\u9648\u957f\u83b2",
                    "value": 929829.86,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(65,74,47)"
                        }
                    }
                },
                {
                    "name": "VazaYL",
                    "value": 902937.94,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(90,65,122)"
                        }
                    }
                },
                {
                    "name": "\u5357\u7fbd",
                    "value": 889217.71,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(144,87,100)"
                        }
                    }
                },
                {
                    "name": "137******75",
                    "value": 880870.41,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(139,30,48)"
                        }
                    }
                },
                {
                    "name": "\u6e20\u9053\u4e8b\u4e1a\u90e8",
                    "value": 875282.66,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(100,2,86)"
                        }
                    }
                },
                {
                    "name": "\u5f20\u4e39",
                    "value": 867235.76,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,32,87)"
                        }
                    }
                },
                {
                    "name": "189***",
                    "value": 855021.50,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(71,28,29)"
                        }
                    }
                },
                {
                    "name": "gjdf-d",
                    "value": 845457.87,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(80,124,52)"
                        }
                    }
                },
                {
                    "name": "\u4e8e\u826f",
                    "value": 841714.40,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(77,36,6)"
                        }
                    }
                },
                {
                    "name": "\u4e58\u4ee5\u4e8c",
                    "value": 819987.89,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(79,44,101)"
                        }
                    }
                },
                {
                    "name": "\u6c88\u51ac\u82f1",
                    "value": 815544.29,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(8,28,102)"
                        }
                    }
                },
                {
                    "name": "131***",
                    "value": 803442.78,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(21,28,128)"
                        }
                    }
                },
                {
                    "name": "\u53f6\u9886\u5f1f",
                    "value": 788762.62,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(136,47,72)"
                        }
                    }
                },
                {
                    "name": "\u5b59\u8000\u9633",
                    "value": 767412.80,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(45,33,49)"
                        }
                    }
                },
                {
                    "name": "\u5d14\u5cf0\u4e00",
                    "value": 757002.33,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(26,11,24)"
                        }
                    }
                },
                {
                    "name": "138******27",
                    "value": 756694.40,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(5,51,133)"
                        }
                    }
                },
                {
                    "name": "\u706b\u9f99\u679c",
                    "value": 742644.50,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(125,114,86)"
                        }
                    }
                },
                {
                    "name": "SZY82W",
                    "value": 740938.44,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(130,27,71)"
                        }
                    }
                },
                {
                    "name": "\u5434\u82cf\u884c",
                    "value": 699706.12,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(49,16,30)"
                        }
                    }
                },
                {
                    "name": "\u81e7\u6c38\u826f",
                    "value": 693007.59,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(5,79,21)"
                        }
                    }
                },
                {
                    "name": "\u6e05\u6155",
                    "value": 690986.51,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(73,18,79)"
                        }
                    }
                },
                {
                    "name": "\u6731\u5c0f\u950b",
                    "value": 683841.98,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(13,79,147)"
                        }
                    }
                },
                {
                    "name": "\u535e\u8363\u660e",
                    "value": 673629.31,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(154,141,108)"
                        }
                    }
                },
                {
                    "name": "\u963f\u54f2",
                    "value": 673122.50,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(97,6,155)"
                        }
                    }
                },
                {
                    "name": "\u5468\u82b3",
                    "value": 672233.82,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(124,97,89)"
                        }
                    }
                },
                {
                    "name": "\u6d2a\u5927",
                    "value": 671034.18,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(95,27,60)"
                        }
                    }
                },
                {
                    "name": "\u5f6c",
                    "value": 658441.00,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(79,70,58)"
                        }
                    }
                },
                {
                    "name": "152******99",
                    "value": 652163.09,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(27,96,136)"
                        }
                    }
                },
                {
                    "name": "\u6234\u7acb\u6625",
                    "value": 639696.01,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(117,140,22)"
                        }
                    }
                },
                {
                    "name": "\u674e",
                    "value": 634706.66,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(140,40,104)"
                        }
                    }
                },
                {
                    "name": "\u5468\u5a1f",
                    "value": 625295.76,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(81,88,143)"
                        }
                    }
                },
                {
                    "name": "181******14",
                    "value": 618880.78,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(25,74,26)"
                        }
                    }
                },
                {
                    "name": "\u4e1c\u5c71",
                    "value": 612957.90,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(76,28,71)"
                        }
                    }
                },
                {
                    "name": "\u7535\u4fe1\u624b\u673a\u526f\u5361",
                    "value": 604898.59,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(46,98,47)"
                        }
                    }
                },
                {
                    "name": "189******54",
                    "value": 599554.28,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(21,89,113)"
                        }
                    }
                },
                {
                    "name": "\u5468\u5bb8\u5c78",
                    "value": 598707.45,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(90,31,62)"
                        }
                    }
                },
                {
                    "name": "158***",
                    "value": 593904.15,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(65,120,75)"
                        }
                    }
                },
                {
                    "name": "\u6ce2\u7279\u5b89",
                    "value": 593619.32,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(60,22,1)"
                        }
                    }
                },
                {
                    "name": "\u738b\u5c0f\u4f1f",
                    "value": 592658.29,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(80,68,45)"
                        }
                    }
                },
                {
                    "name": "133******81",
                    "value": 590595.20,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(45,147,157)"
                        }
                    }
                },
                {
                    "name": "\u7d20\u73cd",
                    "value": 589992.81,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(75,77,32)"
                        }
                    }
                },
                {
                    "name": "\u5c0f\u7ea2",
                    "value": 583055.30,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(89,137,90)"
                        }
                    }
                },
                {
                    "name": "159***",
                    "value": 570770.46,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(81,58,140)"
                        }
                    }
                },
                {
                    "name": "\u96e8\u4e2d\u767e\u5408",
                    "value": 567728.91,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(15,116,122)"
                        }
                    }
                },
                {
                    "name": "\u738b\u5927\u53d1",
                    "value": 564457.62,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(149,95,84)"
                        }
                    }
                },
                {
                    "name": "\u6587\u6b66",
                    "value": 557870.14,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(50,36,2)"
                        }
                    }
                },
                {
                    "name": "\u8fde\u9526",
                    "value": 540355.29,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(49,64,53)"
                        }
                    }
                },
                {
                    "name": "\u6768\u4e2d\u4f1f",
                    "value": 538069.77,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(133,85,89)"
                        }
                    }
                },
                {
                    "name": "ziEpJXyw",
                    "value": 535681.80,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(49,150,105)"
                        }
                    }
                },
                {
                    "name": "\u535a\u6587",
                    "value": 530034.03,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(116,19,121)"
                        }
                    }
                },
                {
                    "name": "\u738b\u5c0f\u513f",
                    "value": 529401.48,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(111,41,39)"
                        }
                    }
                },
                {
                    "name": "xSm6qj",
                    "value": 524124.89,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(3,133,129)"
                        }
                    }
                },
                {
                    "name": "\u5468\u5929\u4e00",
                    "value": 520200.48,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(70,113,82)"
                        }
                    }
                },
                {
                    "name": "\u9648\u6d69\u7fa4",
                    "value": 518663.41,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(146,86,51)"
                        }
                    }
                },
                {
                    "name": "\u53f6\u65b0",
                    "value": 516387.96,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(154,111,125)"
                        }
                    }
                },
                {
                    "name": "\u9648\u7eaa\u7984",
                    "value": 515448.13,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(44,107,5)"
                        }
                    }
                },
                {
                    "name": "\u5c0f\u865e",
                    "value": 514676.88,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(95,160,18)"
                        }
                    }
                },
                {
                    "name": "158***",
                    "value": 512486.74,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(14,68,58)"
                        }
                    }
                },
                {
                    "name": "159******54",
                    "value": 509219.11,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(53,57,143)"
                        }
                    }
                },
                {
                    "name": "tttfg",
                    "value": 503922.29,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(6,63,139)"
                        }
                    }
                },
                {
                    "name": "\u7ea2\u7ea2",
                    "value": 503187.96,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(54,43,94)"
                        }
                    }
                },
                {
                    "name": "\u738b\u4ece\u534e",
                    "value": 502038.86,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(129,20,127)"
                        }
                    }
                },
                {
                    "name": "\u5f90\u674f\u4e3d",
                    "value": 501136.56,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(25,86,95)"
                        }
                    }
                },
                {
                    "name": "\u539a\u5fb7\u8f7d\u7269",
                    "value": 495480.00,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(129,138,19)"
                        }
                    }
                },
                {
                    "name": "\u5b59\u6842\u84c9",
                    "value": 493806.30,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(151,62,140)"
                        }
                    }
                },
                {
                    "name": "\u66f9\u6210",
                    "value": 487960.22,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(122,71,9)"
                        }
                    }
                },
                {
                    "name": "151******55",
                    "value": 485281.41,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(89,79,66)"
                        }
                    }
                },
                {
                    "name": "\u5468\u660c\u82f1",
                    "value": 483566.77,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(139,117,63)"
                        }
                    }
                },
                {
                    "name": "\u848b\u971e",
                    "value": 474287.01,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(1,15,126)"
                        }
                    }
                },
                {
                    "name": "\u6797\u671d\u660e",
                    "value": 470451.24,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(7,23,23)"
                        }
                    }
                },
                {
                    "name": "\u7ae0\u5fd7\u534e",
                    "value": 469385.68,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(128,127,59)"
                        }
                    }
                },
                {
                    "name": "\u99a8\u4f0a",
                    "value": 462571.18,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(32,141,34)"
                        }
                    }
                },
                {
                    "name": "\u5434\u5b9d\u91d1",
                    "value": 461970.44,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(90,148,78)"
                        }
                    }
                },
                {
                    "name": "177***",
                    "value": 459309.96,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(160,140,62)"
                        }
                    }
                },
                {
                    "name": "189676",
                    "value": 457519.47,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(48,9,5)"
                        }
                    }
                },
                {
                    "name": "\u59dc\u5c0f\u5170",
                    "value": 455723.70,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(85,137,65)"
                        }
                    }
                },
                {
                    "name": "188***",
                    "value": 454974.51,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(143,11,111)"
                        }
                    }
                },
                {
                    "name": "\u8bb8\u7434\u7434",
                    "value": 452921.61,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(18,1,92)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            },
            "xAxisIndex": 0,
            "yAxisIndex": 0
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u6628\u65e5\u4e2a\u4eba\u6301\u6709\u4f30\u503c",
            "padding": 5,
            "itemGap": 10,
            "textStyle": {
                "fontSize": 20
            }
        }
    ],
    "grid": [
        {
            "show": false,
            "zlevel": 0,
            "z": 2,
            "top": "60%",
            "containLabel": false,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1
        }
    ]
};
        chart_728750984ed0487a9180568d3bb73e5f.setOption(option_728750984ed0487a9180568d3bb73e5f);
    </script>
</body>
</html>
